In [1]:
import os
import pandas as pd
from pandas import DataFrame
import time
import tweepy as tw

In [2]:
import pickle
with open("followerKemlu3.dat", "rb") as fp:
    list_of_followers = pickle.load(fp)

In [3]:
followers = [[follower.name, follower.screen_name, follower.location, follower.description, follower.followers_count
             , follower.friends_count, follower.listed_count, follower.created_at, follower.favourites_count
             , follower.verified, follower.statuses_count
             ] for follower in list_of_followers]

In [4]:
df = DataFrame (followers,columns=['Name','Screen Name','Location','Description','Followers', 'Friends'
                                  ,'Listed','Created', 'Favourites'
                                  ,'Verified', 'Statuses'])

In [5]:
df.shape

(192906, 11)

In [7]:
df['Description'] = df['Description'].str.strip()
df['Description'] = df['Description'].str.replace('^ +', '_',regex=True)
df['Description'] = df['Description'].str.replace(' +$', '_',regex=True)
df['Description'] = df['Description'].replace(r'\\n',' ', regex=True)
df['Description'] = df['Description'].replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True)
df['Description'] = df['Description'].replace(r"(?i)[^0-9a-z!?.;,@' -]",'',regex=True)

In [8]:
df['Location'] = df['Location'].str.strip()
df['Location'] = df['Location'].str.replace('^ +', '_',regex=True)
df['Location'] = df['Location'].str.replace(' +$', '_',regex=True)
df['Location'] = df['Location'].replace(r'\\n',' ', regex=True) 
#df['Location'] = df['Location'].replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)

In [9]:
#df.drop('Description', axis=1, inplace=True)
df.head()

,Name,Screen Name,Location,Description,Followers,Friends,Listed,Created,Favourites,Verified,Statuses
0,Henk_Q,Henk_Q99,,laki laki,3,152,0,2021-01-04 05:26:43,0,False,0
1,●_○°,mabasukses,di dieu,bismillah maba sukses beneran ya na!!!,7,142,0,2019-12-25 10:21:25,252,False,149
2,Sitizahara.K,KSitizahara,,,0,60,0,2021-01-06 12:02:42,0,False,0
3,Em,Em20854647,,,3,404,0,2012-08-30 09:59:53,23,False,9
4,hazzard,hazzarddc,"London, England",,123,516,2,2011-04-15 13:51:15,797,False,5544

In [10]:
df.to_csv('followers_kemlu.csv')

In [11]:
df = pd.read_csv('followers_kemlu.csv')

In [12]:
df.head()

,Unnamed: 0,Name,Screen Name,Location,Description,Followers,Friends,Listed,Created,Favourites,Verified,Statuses
0,0,Henk_Q,Henk_Q99,NaN,laki laki,3,152,0,2021-01-04 05:26:43,0,False,0
1,1,●_○°,mabasukses,di dieu,bismillah maba sukses beneran ya na!!!,7,142,0,2019-12-25 10:21:25,252,False,149
2,2,Sitizahara.K,KSitizahara,NaN,NaN,0,60,0,2021-01-06 12:02:42,0,False,0
3,3,Em,Em20854647,NaN,NaN,3,404,0,2012-08-30 09:59:53,23,False,9
4,4,hazzard,hazzarddc,"London, England",NaN,123,516,2,2011-04-15 13:51:15,797,False,5544

In [13]:
df['Location'] = df['Location'].str.lower()
df['Description'] = df['Description'].str.lower()
df.head()

,Unnamed: 0,Name,Screen Name,Location,Description,Followers,Friends,Listed,Created,Favourites,Verified,Statuses
0,0,Henk_Q,Henk_Q99,NaN,laki laki,3,152,0,2021-01-04 05:26:43,0,False,0
1,1,●_○°,mabasukses,di dieu,bismillah maba sukses beneran ya na!!!,7,142,0,2019-12-25 10:21:25,252,False,149
2,2,Sitizahara.K,KSitizahara,NaN,NaN,0,60,0,2021-01-06 12:02:42,0,False,0
3,3,Em,Em20854647,NaN,NaN,3,404,0,2012-08-30 09:59:53,23,False,9
4,4,hazzard,hazzarddc,"london, england",NaN,123,516,2,2011-04-15 13:51:15,797,False,5544

In [14]:
location = df['Location'].unique()

In [15]:
len(location)

28497

In [5]:
propinsi = pd.read_csv("provinces_cleaned.csv")

In [19]:
for index, row in propinsi.iterrows():
    key = row['PROPINSI'].lower()
    df['Location'] = df['Location'].replace(f'(^.*{key}.*$)', "Indonesia",regex=True)
    df['Location'] = df['Location'].replace(f'({key})', "Indonesia",regex=True)

In [20]:
len(df['Location'].unique())

24873

In [9]:
regencies = pd.read_csv("regencies_cleaned.csv")

In [22]:
for index, row in regencies.iterrows():
    key = row['REGENCIES'].lower()
    df['Location'] = df['Location'].replace(f'(^.*{key}.*$)', "Indonesia",regex=True)
    df['Location'] = df['Location'].replace(f'({key})', "Indonesia",regex=True)

In [25]:
len(df['Location'].unique())

17392

In [23]:
villages = pd.read_csv("villages.csv",names=['Id','Count','VILLAGES'])

In [24]:
villages.drop('Id', axis=1, inplace=True)
villages.drop('Count', axis=1, inplace=True)
villages.head()

        VILLAGES
0        LATIUNG
1  LABUHAN BAJAU
2   SUAK LAMATAN
3         ANA AO
4       LATALING

In [ ]:
villages.to_csv('villages_clean.csv')

In [26]:
villages = pd.read_csv('villages_clean.csv')

In [27]:
villages.head()

   Unnamed: 0       VILLAGES
0           0        LATIUNG
1           1  LABUHAN BAJAU
2           2   SUAK LAMATAN
3           3         ANA AO
4           4       LATALING

In [28]:
df['Location'] = df['Location'].replace(r"(?i)[^0-9a-z!?.;,@' -]",'',regex=True)

In [29]:
for index, row in villages.iterrows():
    key = row['VILLAGES'].lower()
    df['Location'] = df['Location'].replace(f'(^.*{key}.*$)', "Indonesia",regex=True)
    df['Location'] = df['Location'].replace(f'({key})', "Indonesia",regex=True)

error: unbalanced parenthesis at position 18

In [ ]:
len(df['Location'].unique())

In [11]:
world = pd.read_csv('worldcities.csv')

In [12]:
world.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [13]:
world.drop(['city_ascii','lat','lng','iso2','iso3','admin_name','capital','population','id'],axis=1,inplace=True)

In [14]:
world.head()

      city      country
0    Tokyo        Japan
1  Jakarta    Indonesia
2    Delhi        India
3   Mumbai        India
4   Manila  Philippines

In [84]:
world['city'] = world['city'].str.lower()

In [85]:
world.head()

      city      country
0    tokyo        Japan
1  jakarta    Indonesia
2    delhi        India
3   mumbai        India
4   manila  Philippines

In [ ]:
for index, row in world.iterrows():
    key = row['city']
    df['Location'] = df['Location'].replace(f'(^.*{key}.*$)', row['country'],regex=True)
    df['Location'] = df['Location'].replace(f'({key})', row['country'],regex=True)

In [30]:
len(df['Location'].unique())

13590

In [33]:
location = df['Location'].unique()

In [31]:
df.to_csv('followers_kemlu.csv')

In [2]:
df = pd.read_csv('followers_kemlu.csv')

In [3]:
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)
df.head()

,Name,Screen Name,Location,Description,Followers,Friends,Listed,Created,Favourites,Verified,Statuses
0,Henk_Q,Henk_Q99,NaN,laki laki,3,152,0,2021-01-04 05:26:43,0,False,0
1,●_○°,mabasukses,di dieu,bismillah maba sukses beneran ya na!!!,7,142,0,2019-12-25 10:21:25,252,False,149
2,Sitizahara.K,KSitizahara,NaN,NaN,0,60,0,2021-01-06 12:02:42,0,False,0
3,Em,Em20854647,NaN,NaN,3,404,0,2012-08-30 09:59:53,23,False,9
4,hazzard,hazzarddc,"london, england",NaN,123,516,2,2011-04-15 13:51:15,797,False,5544

In [76]:
#df['Location'] = df['Location'].replace('indonesia', 'Indonesia')
#df['Location'] = df['Location'].replace(r'(^.*bumi.*$)', 'Indonesia',regex=True)

In [4]:
df['Location'].value_counts()

Indonesia                            63341
indonesia                            13314
jakarta                               3656
jakarta, indonesia                    1441
jakarta capital region                1322
jakarta capital region, indone         654
jakarta capital region, indonesia      415
east java, indonesia                   214
west java, indonesia                   186
jakarta indonesia                      179
62                                     179
jakarta - indonesia                    176
jakarta,indonesia                      171
earth                                  157
                                       135
,                                      133
central java, indonesia                133
makasar, indonesia                     126
malaysia                               115
cengkareng, indonesia                  111
batam                                   98
london, england                         95
jakarta-indonesia                       89
indonesian                              84
solo                                    81
melbourne, victoria                     77
purwokerto                              76
world                                   75
ciputat, indonesia                      73
jkt                                     71
                                     ...
budi utomo 7                             1
turin                                    1
t -6.341605,106.758439                   1
ca                                       1
t 2.966035,99.120226                     1
muar johor                               1
panggung prank                           1
ceglik                                   1
windhoek-namibia                         1
t -6.174422,106.812473                   1
goo.glmapszxbyuydyxx3hyne8               1
ghana                                    1
southern sky                             1
bonn, jerman                             1
19,sadao road,mueang,songkhla            1
80226                                    1
rocha, uruguay                           1
mencari kitab suci                       1
gurgaon, india                           1
in his hand                              1
indonsiene                               1
burnsall                                 1
bdo-cgk, ina                             1
clover kingdom                           1
chishtian mandi, pakistan                1
lima - peru                              1
indonesian, central java                 1
halil orum                               1
on the slopes of mt. panderman           1
kumamoto, japan                          1
Name: Location, Length: 13587, dtype: int64

In [15]:
for index, row in world.iterrows():
    key = row['city'].lower()
    df['Location'] = df['Location'].replace(f'(^.*{key}.*$)', row['country'],regex=True)
    df['Location'] = df['Location'].replace(f'({key})', row['country'],regex=True)

In [18]:
df['Location'].value_counts()

Indonesia                         88297
United States                      1381
Ghana                               925
Mexico                              846
Japan                               753
United Kingdom                      725
Kenya                               446
Switzerland                         435
Australia                           430
Serbia                              414
Slovenia                            409
India                               399
Sierra Leone                        394
Turkey                              367
Chad                                345
South Sudan                         312
Fiji                                310
Equatorial Guinea                   242
Thailand                            234
Russia                              226
Peru                                204
China                               188
Brazil                              187
62                                  179
Germany                             161
                                    135
,                                   133
France                              133
malaysia                            115
Netherlands                          88
                                  ...
dari mata tu run to your heart        1
t 0.422975,101.463429                 1
unpad'13                              1
t -6.2305958,106.8566594              1
591                                   1
ain's mind-note                       1
st.mj                                 1
t -6.169181,106.832242                1
dpscgk                                1
t -6.906799,107.622383                1
buintenzorg city                      1
2! 3!                                 1
s 6 21' 0''  e 106 44' 0''            1
in your timeline                      1
mlg mel                               1
3                                     1
t -6.95472,107.77396                  1
gg, i, di                             1
dmn                                   1
somewhere only we know.               1
tizi-ouzou.                           1
t -6.2391739,107.0160591              1
a dump                                1
utnited states                        1
aquarium                              1
ahtohallan                            1
bks id                                1
tirta mulya air senda ii              1
t -6.284144,106.844435                1
t -6.295714,107.024568                1
Name: Location, Length: 5823, dtype: int64

In [17]:
df['Location'] = df['Location'].replace(f'(^.*indonesia.*$)', 'Indonesia',regex=True)

In [19]:
df.to_csv('followers_kemlu.csv')

In [22]:
df = pd.read_csv('followers_kemlu.csv',index_col=0)
df.head()

,Name,Screen Name,Location,Description,Followers,Friends,Listed,Created,Favourites,Verified,Statuses
0,Henk_Q,Henk_Q99,NaN,laki laki,3,152,0,2021-01-04 05:26:43,0,False,0
1,●_○°,mabasukses,di dieu,bismillah maba sukses beneran ya na!!!,7,142,0,2019-12-25 10:21:25,252,False,149
2,Sitizahara.K,KSitizahara,NaN,NaN,0,60,0,2021-01-06 12:02:42,0,False,0
3,Em,Em20854647,NaN,NaN,3,404,0,2012-08-30 09:59:53,23,False,9
4,hazzard,hazzarddc,United Kingdom,NaN,123,516,2,2011-04-15 13:51:15,797,False,5544