In [1]:
import pandas as pd
from pandas import DataFrame

In [28]:
df = pd.read_excel('EvoluciónsiniestrostransitoChile-1972-2019-actualizado.xlsx')

In [29]:
df.rename(columns={"Evolución de siniestros de tránsito, consecuencias e indicadores (Período 1972-2019)": "Year"},inplace=True)
df.rename(columns={"Unnamed: 1": "Accident"},inplace=True)
df.rename(columns={"Unnamed: 2": "Fatality"},inplace=True)
df.rename(columns={"Unnamed: 3": "Heavy Injuries"},inplace=True)
df.rename(columns={"Unnamed: 4": "Medium Injuries"},inplace=True)
df.rename(columns={"Unnamed: 5": "Light Injuries"},inplace=True)
df.rename(columns={"Unnamed: 10": "Vehicles"},inplace=True)
df.rename(columns={"Unnamed: 11": "Population"},inplace=True)
df = df[['Year','Accident','Fatality','Heavy Injuries','Medium Injuries','Light Injuries','Vehicles','Population']]
df = df.drop([0, 1,2])
df.reset_index(inplace=True,drop=True)

In [30]:
df.head()

,Year,Accident,Fatality,Heavy Injuries,Medium Injuries,Light Injuries,Vehicles,Population
0,1972,26727,1792,6590,5624,11027,401114,9907065
1,1973,23480,1719,6020,5153,10079,417767,10075782
2,1974,18356,1269,4935,3763,7938,431172,10244501
3,1975,16602,1054,4208,3479,7142,445693,10413219
4,1976,17716,1079,4322,3456,7355,466049,10565409